@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet');
:root {
    --navcolor : #D963FF
    --h1color  : #1D4ED8
    --width-break: 600px;
}

body {
    background-image: url("image/minion.jpg");
    /* background-color: #FEF3C7;  */
    font-family: 'Satisfy', cursive;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



}

h1 {
    color: #111827;
    font-weight: bold;
    padding-right: 5%;
    font-size: xx-large;
}

h2 {
    color: #92400E;
    font-weight: bold;
    padding-right: 5%;
    font-size: larger;  
}


#text{
    margin: auto;
    display: block;
    width: 90%;
    text-align: center;
    font-size: larger;
    color: black;
}

#output {
    margin: auto;
    display: block;
    max-width: 1000px;
    padding: 15px 32px;
    display: block;
    margin-top: 1rem;
    border: 1px solid black;
    background-color: white;
    font-size: large;
}

.container {
    max-width: 100px;
    margin: auto;
    padding: 15px 32px;
}

.userinput {
    margin: auto;
    display: block;
    max-width: 1500px;
    padding: 15px 32px;
    display: block;
    margin-top: 1rem;
    font-size: large;
}

element.style {
    font-size: medium;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

p {
    display: block;
    padding: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #3B82F6;
    text-align: center;
}




