:root {
    --navcolor : #D963FF
    --h1color  : #1D4ED8
}

body {
    background-image: url(image/minion.jpg);
    /* background-color: #FEF3C7;  */
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #92400E;
    font-weight: bold;
    padding-right: 5%;
    font-size: xx-large;
}

#text{
    margin: auto;
    display: block;
    width: 90%;
    text-align: center;
    font-size: larger;
}

#output {
    margin: auto;
    display: block;
    max-width: 1000px;
    padding: 15px 32px;
    display: block;
    margin-top: 1rem;
    border: 1px solid black;
    background-color: white;
    font-size: large;
}

.container {
    max-width: 100px;
    margin: auto;
    padding: 15px 32px;
}

.userinput {
    margin: auto;
    display: block;
    max-width: 1500px;
    padding: 15px 32px;
    display: block;
    margin-top: 1rem;
    font-size: large;
}
